<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>People Lookup | Venturesity</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="custom.css">
    <style type="text/css">
    body {
        font-family: 'Roboto', sans-serif;
    }
    
    .navbar-default .navbar-collapse,
    .navbar-inverse {
        background-color: #3e50b4;
        border: none;
        padding: 10px;
    }
    
    .navbar-inverse .navbar-nav>li>a {
        color: #eee;
    }
    
    .navbar-inverse .navbar-brand {
        color: #fff;
    }
    
    .pro-name {
        font-weight: lighter;
        font-size: 0.8em;
    }
    
    .table-responsive {
        margin-top: 20px;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Venturesity | <span class="pro-name">People Lookup</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/emailhack/help">help</a></li>
                    <li><a href="/emailhack/logout">Sign Out</a></li>
                    <li><a href="/emailhack/final">Final</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="bs-example">
                    <h4 class="text-primary">Individual Search</h4>
                    <hr>
                    <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                        <div class="form-group">
                            {% csrf_token %} {{ form1.as_p }}
                            <!--                         <input type="text" class="form-control" placeholder="Name">
                        <input type="text" class="form-control" placeholder="Domain"> -->
                            <button type="submit" class="btn btn-default">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <h4 class="text-primary">Multiple Search</h4>
                <hr>
                <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                    <div class="form-inline">
                        <div class="form-group">
                            <!-- <input type="file" name="files[]" id="js-upload-files" enctype='multipart/form-data'> -->
                            {% csrf_token %} {{ form.as_p }}
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-primary">Results</h4>
                <hr>
                <table class="table table-responsive table-bordered">
                    <thead>
                        <th>Name</th>
                        <th>Domain</th>
                        <th>Hash</th>
                        <th>Verified emails</th>
                    </thead>
                    <tbody>
                        {% for obj in objects %}
                        <tr>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.domain }}</td>
                            <td>{{ obj.secret }}</td>
                            <td>{{ obj.verified_emails }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <a class="btn btn-sm btn-primary" id="export">Export as CSV</a>
            </div>
        </div>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    ...
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        function exportTableToCSV($table) {
            // console.log('inside exportTableToCSV()');
            var $rows = $table.find('tr:has(th), tr:has(td)');
            if ($rows.length === 1) {
                alert("no rows found");
                return;
            }

            var filename = prompt("enter a filename");

            if (!filename) {
                return;
            }
            // console.log(filename);
            // Temporary delimiter characters unlikely to be typed by keyboard
            // This is to avoid accidentally splitting the actual contents
            var tmpColDelim = String.fromCharCode(11); // vertical tab character
            var tmpRowDelim = String.fromCharCode(0); // null character

            // actual delimiter characters for CSV format
            var colDelim = '","';
            var rowDelim = '"\r\n"';

            // Grab text from table into CSV formatted string
            var csv = '"' + $rows.map(function(i, row) {
                    var $row = $(row),
                        $cols = $row.find('td, th');

                    return $cols.map(function(j, col) {
                        var $col = $(col),
                            text = $col.text();

                        return text.replace(/"/g, '""'); // escape double quotes

                    }).get().join(tmpColDelim);

                }).get().join(tmpRowDelim)
                .split(tmpRowDelim).join(rowDelim)
                .split(tmpColDelim).join(colDelim) + '"';

            // Data URI
            var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);
            console.log(csvData);
            $(this)
                .attr({
                    'download': filename,
                    'href': csvData,
                    'target': '_blank'
                });
        }

        // This must be a hyperlink
        $("#export").on('click', function(event) {
            // CSV
            exportTableToCSV.apply(this, [$('table')]);

            // IF CSV, don't do event.preventDefault() or return false
            // We actually need this to be a typical hyperlink
        });
    });
    </script>
</body>

</html>
